In [1]:
import pandas as pd
import numpy as np

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [91]:
busan = pd.read_csv('../data/busan_m1.csv')

In [92]:
busan.describe(include = 'all')

,회계연도,지역명,자치단체코드,자치단체명,회계구분명,세부사업명,집행일자,예산현액,지출액,총지출액
count,49591.0,49591,49591.0,49591,49591,49591,4.959100e+04,49591,49591,33
unique,NaN,1,NaN,1,33,2445,NaN,3300,43665,33
top,NaN,부산,NaN,부산본청,일반회계,기본경비,NaN,"10,400,000",0,"5,111,723,370"
freq,NaN,49591,NaN,49591,40350,4833,NaN,195,2489,1
mean,2016.0,NaN,2600000.0,NaN,NaN,NaN,2.016068e+07,NaN,NaN,NaN
std,0.0,NaN,0.0,NaN,NaN,NaN,3.545611e+02,NaN,NaN,NaN
min,2016.0,NaN,2600000.0,NaN,NaN,NaN,2.016011e+07,NaN,NaN,NaN
25%,2016.0,NaN,2600000.0,NaN,NaN,NaN,2.016040e+07,NaN,NaN,NaN
50%,2016.0,NaN,2600000.0,NaN,NaN,NaN,2.016070e+07,NaN,NaN,NaN
75%,2016.0,NaN,2600000.0,NaN,NaN,NaN,2.016101e+07,NaN,NaN,NaN
max,2016.0,NaN,2600000.0,NaN,NaN,NaN,2.016123e+07,NaN,NaN,NaN

In [103]:
busines = []
price = []

b1=busan.drop_duplicates('회계구분명', keep='first')
p1 = busan['총지출액'].dropna()
for word in b1['회계구분명']:
    busines.append(word)
    
for money in p1:
    price.append(money)

In [104]:
len(price)

33

In [105]:
len(busines), len(price)

(33, 33)

In [109]:
busan.head()

,회계연도,지역명,자치단체코드,자치단체명,회계구분명,세부사업명,집행일자,예산현액,지출액,총지출액
0,2016,부산,2600000,부산본청,일반회계,(재)부산경제진흥원 운영지원,20160108,"6,201,000,000",0,"97,233,425,608,853"
1,2016,부산,2600000,부산본청,일반회계,(재)부산경제진흥원 운영지원,20160128,"6,201,000,000","2,000,000,000",NaN
2,2016,부산,2600000,부산본청,일반회계,(재)부산경제진흥원 운영지원,20160328,"6,201,000,000","3,800,000,000",NaN
3,2016,부산,2600000,부산본청,일반회계,(재)부산경제진흥원 운영지원,20160801,"6,201,000,000","5,200,000,000",NaN
4,2016,부산,2600000,부산본청,일반회계,(재)부산경제진흥원 운영지원,20161018,"6,201,000,000","6,201,000,000",NaN

In [111]:
busan.head()

,회계연도,지역명,자치단체코드,자치단체명,회계구분명,세부사업명,집행일자,예산현액,지출액,총지출액
0,2016,부산,2600000,부산본청,일반회계,(재)부산경제진흥원 운영지원,20160108,"6,201,000,000",0,"97,233,425,608,853"
1,2016,부산,2600000,부산본청,일반회계,(재)부산경제진흥원 운영지원,20160128,"6,201,000,000","2,000,000,000",NaN
2,2016,부산,2600000,부산본청,일반회계,(재)부산경제진흥원 운영지원,20160328,"6,201,000,000","3,800,000,000",NaN
3,2016,부산,2600000,부산본청,일반회계,(재)부산경제진흥원 운영지원,20160801,"6,201,000,000","5,200,000,000",NaN
4,2016,부산,2600000,부산본청,일반회계,(재)부산경제진흥원 운영지원,20161018,"6,201,000,000","6,201,000,000",NaN

In [106]:
len(busan['총지출액'].dropna()), len(busan.drop_duplicates('회계구분명',keep = 'last'))

(33, 33)

In [114]:
busan.describe(include=['O'])

          지역명  자치단체명  회계구분명  세부사업명        예산현액    지출액           총지출액
count   49591  49591  49591  49591       49591  49591             33
unique      1      1     33   2445        3300  43665             33
top        부산   부산본청   일반회계   기본경비  10,400,000      0  5,111,723,370
freq    49591  49591  40350   4833         195   2489              1

In [116]:
busan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49591 entries, 0 to 49590
Data columns (total 10 columns):
회계연도      49591 non-null int64
지역명       49591 non-null object
자치단체코드    49591 non-null int64
자치단체명     49591 non-null object
회계구분명     49591 non-null object
세부사업명     49591 non-null object
집행일자      49591 non-null int64
예산현액      49591 non-null object
지출액       49591 non-null object
총지출액      33 non-null object
dtypes: int64(3), object(7)
memory usage: 3.8+ MB

In [122]:
busan["총지출액"] = busan["총지출액"].astype(float)

ValueError: could not convert string to float: '288,195,191,940'